* {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;

}

.header {

    background-image: url(img/back_top.jpg);
    width: 1000px;
    height: 601px;

}

.balao {
    display: flex;
    margin-left: 50px;
}

p .telefone {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

.telefone {
    color: white;
    margin-right: 70px;
    padding-top: 4px;

}

.home {
    display: flex;
    margin-left: 340px;
    margin-block: 20px;
    position: relative;

}

.navegador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 44px;
    background: #ffffff80;
    width: 575px;
    list-style: none;
}

.navegador li a {
    text-shadow: 3px 3px 8px black;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navegador :hover {
    color: white;
}
span{
    background-color: rgb(249, 86, 27);
    padding: 13px 15px;
}
.logo {
    display: flex;
    justify-content: flex-start;
    z-index: 2;
    position: absolute;
    margin-top: -130px;
    margin-left: 90px;
}

.banner {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
    margin-top: 25px;
}

.sobre {
    text-align: center;
    background: #6D308D;
    padding-bottom: 50px;
    width: 1000px;
    color: white;
}

.recentes {
    background: #9D3BCE;
    width: 1000px;
    height: 220px;

}

h3 {
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.iconBalao {
    margin-top: -30px;
    margin-left: 10px;
}

.recentesImg {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
}

.box {
    display: flex;
    justify-content: center;
    position: relative;
    background: #6D308D;
    width: 1000px;

}

.box img {
    margin-top: 20px;
}

.textoBox {
    display: flex;
    position: absolute;
    margin-top: 60px;
}

.footerImg {
    display: flex;
    align-items: center;


}

.footerInf {
    display: flex;
    margin-top: 25px;
}

.footerCory {
    background: #6D308D;
    width: 1000px;
}

.copy,
.textoFace,
.footerFone {
    color: white;
}

.textoFace {
    text-align: center;
    margin-left: -30px;
}