* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.home {
    display: flex;
    position: relative;
    background: #333333;
    padding: 5px;
    width: 1140px;
}

.navegador {
    display: flex;
    width: 980px;
    list-style: none;
}

.navegador li a {
    text-shadow: 3px 3px 8px black;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.banner {
    display: flex;
    position: relative;
    background-image: url(img/banner.png);
    width: 1140px;
    height: 759px;


}

.logo {
    display: flex;
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;

}

.imgp {
    margin-top: 250px;
    margin-left: -95px;
}

.text {
    margin-top: 280px;
    margin-left: -1150px;
}

.h1Top {
    color: #25687f;

}

.card1 {
    display: flex;
    position: absolute;
    margin-left: 30px;
    margin-top: 550px;
}

.card2 {
    display: flex;
    position: absolute;
    margin-top: 550px;
    margin-left: 400px;

}

.card3 {
    display: flex;
    position: absolute;
    margin-left: 770px;
    margin-top: 550px;
}

.cardp1 {
    font-size: 25px;
    margin-left: -300px;
    margin-top: 30px;
    color: white;
    text-shadow: 3px 3px 8px black;
}

.cardp2 {
    font-size: 15px;
    margin-left: -300px;
    color: white;
    text-shadow: 3px 3px 8px black;
}

.cardp3 {
    font-size: 30px;
    margin-left: -300px;
    margin-top: 10px;
    color: greenyellow;
    text-shadow: 3px 3px 8px black;
}

.cardp4 {
    font-size: 35px;
    margin-left: -300px;
    color: greenyellow;
    text-shadow: 3px 3px 8px black;
}

.card2p1 {
    margin-left: -300px;
    color: #0ba09f;
    margin-top: 30px;
    font-size: 30px;
}

.card2p2 {
    margin-left: -300px;
    color: #e52787;
    font-size: 40px;
}

.card2p3 {
    margin-left: -300px;
    color: black;
    font-size: 13px;
}

.bannerBlue {
    background-image: url(img/background-correto.png);
    width: 1130px;
    height: 300px;
    margin-top: 200px;
    padding: 60px 40px 0 40px;

}

.grid {
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-size: 24px;
    padding: 2em 0;
    background: #333;

}

.medalha {
    position: absolute;
    top: -39px;
}

.tela {
    max-width: 25%;
    width: 100%;
    border: 1px solid #ccc;
    padding-bottom: 50px;

}


.lista {
    display: flex;
    line-height: 1.5em;
    font-weight: bold;

}

.ticket {
    width: 20px;
    height: 15px;
    margin: 5px;
}

.serviso {
    display: flex;
    margin-top: 150px;
}

.img img {
    margin: 5px;

}

.servicos {
    display: flex;
    position: relative;
    margin-top: 200px;
    justify-content: center;

}

.ftServicos {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.ftServicos img {
  margin: 0 75px;

}


.viagem {
    padding: 0px 0px 0px 400px;
}

.juridico {
    padding: 0px 400px 0 0;
}

.tamanho {
    max-width: 300px;
}

.contabilidade {
    background-image: url(img/card-footer-3.png);
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 121px;
    max-width: 300px;
    max-height: 290px;
}

.contabil {
    font-size: 24px;
    font-weight: normal;
    margin-top: 239px;
    margin-left: -11px;
}


.indicacao {
    font-size: 12px;
    margin-left: -23px;

}


.clubeDesconto {
    margin-left: 38px;
    width: 100%;
    height: 294px;
    margin-top: 170px;
    color: rgb(255, 255, 255);
}

.centerdesconto {
    margin-right: 550px;
    margin-top: -50px;
}


.desconto {
    background-image: url("img/bg-titulo.png");
    width: 575px;
    height: 45px;
    display: flex;
    align-items: center;

}

.clube h3 {
    margin-left: 20px;
    font-size: 30px;
    font-weight: normal;
}

.descontos {
    display: flex;
    justify-content: center;

}


.fast{
    margin: 55px 40px 0px -10px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;

}
.saojudas{
    margin: 55px 40px 0px -10px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
}
.hotpark {
    margin: 55px 40px 0px -10px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
}
.saraiva{
    margin: 55px 40px 0px -10px;
    height: 150px;
    
}
.microlins{
    margin: 55px 40px 0px -10px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
}


.footer-rodape {
    background-image: url(img/background-correto.png);
    background: #333333;
    color: rgb(255, 255, 255);
    margin-top: 38px;
    padding: 22px 100px 30px 20px;
    width: 1140px;
}


.rodape {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 14px;
}

.paragrafos {
    width: 168%;
}

.paragrafos p {
    margin-bottom: 15px;
}

.footerF {
    width: 50%;
    margin: 0 10px;
    flex-flow: column;
    padding: 0px 10px 0px 100px;
}

.footerend h4 {
    text-transform: uppercase;
}

.tel {
    color: rgb(48, 162, 200);
    font-size: 20px;
}