* {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    width: 1366px;
    margin: 0 auto;
}

header {
    width: 1366px;
    height: 451px;
    background-image: url(img/topo.jpg);
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.logo {
    width: 409px;
    height: 187px;
    position: absolute;
    top: 30px;
    left: 230px;
}

.menuTopo {
    margin-right: 38px;
}

nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    z-index: 3;
}

.link {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

nav a {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 5px;
}

#l1 {
    background-color: #01662C;
}

#l2 {
    background-color: #8EBF3F;
}

#l3 {
    background-color: #E77826;
}

#l4 {
    background-color: #3594C0;
}

#l5 {
    background-color: #C20D5C;
}

#l6 {
    background-color: #91527F;
}

.banner {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.cardGeral {
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin-top: -50px;
    z-index: 3;
}

.card1 {
    display: flex;
    justify-content: space-around;
    background: #91527F;
    width: 300px;
    height: 150px;
    align-items: center;
    padding-left: 8px;
    margin: 0 10px;
}

.card2 {
    display: flex;
    justify-content: space-around;
    background: #E77826;
    width: 300px;
    height: 150px;
    align-items: center;
    padding-left: 8px;
    margin: 0 10px;
}

.card3 {
    display: flex;
    justify-content: space-around;
    background: #8EBF3F;
    width: 300px;
    height: 150px;
    align-items: center;
    padding-left: 8px;
    margin: 0 10px;
}

.cardtext {
    color: white;
    font-size: 25px;
}

.cardcor1 {
    color: #3594C0;
}

.cardcor2 {
    color: #91527F;
    text-shadow: 0px 2px 4px white;
}

.cardcor3 {
    color: #E77826;
    text-shadow: 0px 2px 4px white;
}

.sobreecontato {
    margin-top: 70px;
}

.sobreecontato2 {
    display: flex;
    justify-content: center;
}

.sobreNos {
    display: flex;
    flex-direction: column;
}

.sobreNos p {
    margin: 0;
    display: flex;
    justify-content: flex-start;

}

.contatoform {
    display: flex;
    flex-direction: column;
}

.contatoform p {
    margin: 0;
    display: flex;
    justify-content: flex-start;

}

.form {
    margin: 0;

}

.botao {
    width: 100px;
    padding: 15px 0;
    background: #E77826;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    transition: 1s all;
    cursor: pointer;
}

.posibotao {
    display: flex;
    justify-content: end;
    margin-top: -69px;
    margin-left: 180px;
}

h1 {
    margin-left: 10px;
    color: rgb(144, 81, 126);
    text-transform: uppercase;
    font-size: 25px;
}

h2 {
    color: rgb(231, 120, 38);
    text-transform: uppercase;
    font-size: 25px;
}


footer {
    background-image: url(img/footer.jpg);
    width: 1360px;
    height: 196px;
    color: white;
}

#footer_menu {
    padding-top: 47px;
}

.footerNav {
    margin: 0 auto;
}

.fnavegation,
.copy {
    display: flex;
    justify-content: center;

}

.copy {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 50px;
}

.homeFooter a {
    margin-left: 20px;
    font-size: 14px;
}

.footer_star {
    display: flex;
    align-items: center;
    margin-top: -55px;
    justify-content: space-between;
}

.footer_face {
    display: flex;
    position: relative;
    z-index: 3;
    justify-content: flex-end;
    margin-top: -101px;
    margin-right: -650px;
}

.footer_star2 {
    width: 249px;
    height: 141px;
    z-index: 1;
    margin-right: 150px;
}

.input-padrao1 {

    width: 200px;
}

.input-padrao2 {

    width: 150px;
}

.input-padrao3 {

    width: 170px;
}